.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.container > * {
    color: #333;
    font-size: 1.2em;
    line-height: 1.5;
    padding: 20px;
    background: #eee;
  }

  @media only screen and (min-width: 600px) {
    
 /* grid */
 .container {
   grid-template-columns: repeat(4, 1fr);
 }
  
 /* specific item styles */

 .container header,
 .container nav,
 .container footer {
   grid-column: span 4;
 }
 .container main {
   grid-column: span 3;
 }
  
}

